<h1>ALL THE CATS</h1>
<ul>
  <% @cats.each do |cat| %>
    <li><%= "#{cat.name} #{cat.statuses}"  %></li>
  <% end %>
</ul>
<br />
<a href="/cats/new">New cat!</a>
<br />
<h3>Session count</h3>
<%= session["count"] %>
