<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/cats" method="POST">
  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <select name="cat[owner_id]">
      <% Human.all.each do |human| %>
        <option value="<%= human.id %>"><%= human.fname %></option>
      <% end %>
    </select>
  </label>

  <input type="submit">
</form>
